  /* Reset CSS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }

  /* Navbar */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    border-bottom: 5px solid #40e0d0;
    z-index: 1000;
    height: 100px;
    
  }

  .logo{
    padding-left: 10px;
  }

  .navdiv .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
  }
.jbutton{
  color: turquoise;
  background-color: white;
  cursor: pointer;
}

.joinn{
  align-items: right;
  border: 2px solid turquoise;
  padding: 5px;
  border-radius: 5px;
  margin-right: 15px;
  
}

  .main {
    padding-top: 80px; /* Add padding to avoid content being hidden under the navbar */
  }

 
  .y{
    padding-top: 5%;
  }



  .btn {
    margin: auto;
    width: 50%;
    border: 3px solid #40e0d0;
    /* padding: 10px; */
    margin-bottom: 10px;
    cursor: pointer;
    /* border-radius: 10px; */
    background-color: rgba(0, 0, 0, 0.662);
    border: 2px solid currentColor;
    border-radius: 3rem;
    color: turquoise;
    font-family: 'Roboto', sans-serif;

    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  a{
    text-decoration: none;
  }
  .btn::after {
    background-color: turquoise;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }

  .btn:hover::after {
    transform: translate(0, 0);
  }

  .btn:hover {
    border: 2px solid transparent;
    color: indigo;
    transform: scale(1.05);
    will-change: transform;
  }


  .button2:hover {
    background-color: white;
    color: black;
  }
  .name{
  color: white;
  letter-spacing: 4.2px;
  word-spacing: 4.8px;
  }

  .btn2{
    text-align: center;
  }
  /* Program Section */
  .program {
    background-color: black;
    color: white;
    text-align: center;
  }

  .program h2 {
    font-size: 24px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    text-decoration: underline solid turquoise;
    margin-bottom: 20px;
  }

  .program .details {
    padding-bottom: 10px;
    background: rgb(4,13,12);
    background: linear-gradient(153deg, rgba(4,13,12,1) 0%, rgba(0,0,0,1) 84%, rgba(47,162,150,1) 100%);
  }
  .detailsp {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: #faf7f7;
    font-weight: 400;
   margin: 5%;

  }

  .detailsp1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    color: #ffffff;
    font-weight: 700;
    padding-bottom: 10%;
  }
 .massage{
  color: white;
  font-size: large;
  margin: 5%;
  padding-bottom: 0%;
 }
 .Bonuses{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 18px;
  letter-spacing: -0.4px;
  word-spacing: 1px;
  color: #ffffff;
  /* font-weight: 500; */
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: left;
  margin: 10%;
  margin-top: 0;
  margin-bottom: 0;
 }
 .Bonuses .list{
  padding: 1%;
 }
 .courses{
  border: solid turquoise;
  border: 2%;
  border-radius: 20px;
  margin: 10px;
 }
 .questions{
  text-align: left;
  margin: 5%;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
 }
 .questions .ul{
  list-style-type: none;
 }
 .io{
  padding-left: 5%;
 }
.q{
  padding-bottom: 10px;
}
.video-container {
  position: relative;
  padding-bottom:35.25%;
  height: 20%;
  overflow: hidden;
  max-width: 80%;
  margin: 0 auto; 
  -webkit-box-shadow: 0px 0px 19px 16px rgba(52,250,255,0.45); 
box-shadow: 0px 0px 19px 16px rgba(52,250,255,0.45);
}
.button{
 padding-top: 50px;

}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (max-width: 780px) {
  .video-container {
    padding-bottom:50.25%;
    max-width: 90%; 
    /* height: 300px;  */
  }
}


.ans{
  font-weight: 700;

}


  .button-49,
  .button-49:after {
    width: 250px;
    height: 65px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    padding-top: 0PX;
    transition: background-color 0.3s, color 0.3s;
  }


  .button-49:hover {
    background-color: white;
    color: black;
  }

  .button-49:after {
    content: 'JOIN NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: inset(50% 50% 50% 50%);
  }

  .button-49:hover:after {
    animation: glitch 1s steps(2, end);
  }

  @keyframes glitch {
    0% {
        clip-path: inset(50% -6px 30% 0);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: inset(10% -6px 85% 0);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: inset(50% -6px 30% 0);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: inset(10% -6px 85% 0);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: inset(50% -6px 43% 0);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: inset(10% -6px 85% 0);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: inset(40% -6px 43% 0);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: inset(50% -6px 30% 0);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: inset(80% -6px 5% 0);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: inset(50% -6px 30% 0);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: inset(50% -6px 30% 0);
        transform: translate(0);
    }
  }

  @media (min-width: 768px) {
    .button-49,
    .button-49:after {
        width: 250px;
        height: 86px;
        line-height: 88px;
    }
  }

  /* All List */
  .allList {
    list-style-type: none;
    /* background: url('logo.gif') no-repeat center center fixed; */
    background-size: cover;
    padding: 20px;
    /* margin-top: 20px; */
    margin: 2%;
  }

  .allList .list {
    background-color:rgba(64, 224, 208, 0.613);
    color: white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

  .list{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  .show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
  }
@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}
  /* Testimonials Section */
  .testimonials {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
    align-items: center;
  }

  .slider {
    display: flex;
    transition: transform 0.5s ease;
  }

  .item {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  #prev {
    left: 10px;
  }

  #next {
    right: 10px;
  }
  .profile{
    border-radius: 50%;
  }
 .tvideo{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
 }
 @media only screen and (min-width: 600px) {
  .tvideo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    justify-content: center;
  }
}
 
 

  /* Contact Us Section */
  .contactus {
    padding: 20px 10px;
    background-color: black;
    color: white;
    text-align: center;
  }

  .contactus h1 {
    margin-bottom: 20px;
  }

  .contactus p {
    margin: 10px 0;
  }

  .contactus .ap {
    margin: 10px 0;
    padding-top: 0%;
    padding-bottom: 0%;
  }
.handles{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.s{
  margin: 5%;
}
  /* Responsive Design */
  @media screen and (max-width: 768px) {
   

    .home h1 {
        font-size: 2em;
    }

    .allList .list {
        padding: 20px;
    }
  }
